/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  font-size: 3.2rem !important;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}



@media screen and (max-width: 996px) {
  .heroBanner {
    padding: .67rem;
  font-size: 2.6rem !important;

  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
